/*Base Styles*/

:root {
  --primary-color: #151e27;
  --font-size-primary: 26px;
  --font-size-small: 16px;
  --font-size-large: 65px;
  --font-size-medium: 41px;
  --line-height-primary: 120%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: "Rubik", sans-serif;
  color: var(--primary-color);
}

/*Header Content*/

.header {
  font-size: var(--font-size-small);
  line-height: var(--line-height-primary);
  text-transform: uppercase;
  margin-bottom: 64px;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

.header__inner {
  padding: 32px 0;
  border-bottom: 1px solid #d9dbdd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__inner ul li {
  display: inline-block;
}

.about li {
  padding-right: 36px;
  font-weight: 500;
}

.about li:last-child {
  padding-right: 0px;
}

.contacts li {
  font-weight: 600;
  padding: 16px;
}
.contacts li:last-child {
  padding: 0px;
}

.icons li {
  padding-left: 26px;
}

/*Main Content*/

.main {
  line-height: var(--line-height-primary);
  font-weight: 700;
  font-size: var(--font-size-medium);
  margin-bottom: 164px;
}

.main__inner {
}

.main__inner-heading {
  text-align: center;
  font-weight: 700;
  font-size: var(--font-size-large);
  margin-bottom: 64px;
}

.main__inner-articles {
  display: grid;
  grid-template-areas:
    "A A A B B "
    "A A A C D ";

  color: #fff;
  gap: 32px;
  height: 584px;
}

.main__inner-articles-item {
  text-align: center;
  font-weight: 700;
  font-size: var(--font-size-primary);
  line-height: var(--line-height-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__inner-articles-text {
}

.first {
  grid-area: A;
  background: url(images/article-samsung.svg) no-repeat;
  border-radius: 32px;
}
.second {
  grid-area: B;
  background: url(images/huawei.svg) no-repeat;
  border-radius: 32px;
}
.third {
  grid-area: C;
  background: url(images/laptop.svg) no-repeat;
  border-radius: 32px;
}

.fourth {
  grid-area: D;
  background: url(images/watch.svg) no-repeat;
  border-radius: 32px;
}

.fourth .third {
  max-width: 192px;
}

/*Cards */

.cards {
}

.cards__inner {
  margin-bottom: 108px;
}

.cards__inner-heading {
  text-align: center;
  font-size: var(--font-size-large);
  margin-bottom: 104px;
}

.swiper {
  height: 760px;
  margin-bottom: 108px;
  overflow: hidden;
}

.cards__inner-blocks {
  /* display: flex;
  justify-content: space-between; */
  /* gap: 32px; */

  font-weight: 700;
  font-size: var(--font-size-primary);
  line-height: var(--line-height-primary);
  margin-left: 32px;
}

.cards__inner-blocks:last-child {
  margin-left: none;
}

.cards__inner-blocks-info {
  border-bottom: 3px solid #d9dbdd;
  border-radius: 32px 32px 32px 0px;
}

.cards__inner-blocks p {
  padding: 40px 0;
  max-width: 320px;
}
/* .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "";
} */

.slider-count {
  text-align: center;
  font-family: "Rubik";

  font-weight: 500;
  font-size: var(--font-size-small);
  line-height: var(--line-height-primary);
  letter-spacing: -0.03em;
}

.slider-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 85px;
  margin-bottom: 168px;
}

.slider-navigation svg {
  cursor: pointer;
}

/* Advertisemnt block */

.advertisement {
  color: #fff;
  margin-bottom: 168px;
}

.advertisement__inner {
  background-image: url(images/samsung-center.jfif);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 32px;
}

.advertisement__inner p {
  font-weight: 700;
  font-size: var(--font-size-large);
  line-height: var(--line-height-primary);
  text-align: center;
  letter-spacing: -0.03em;
  padding: 64px;
}

/* Repair block */

.repair {
  margin-bottom: 168px;
}

.repair__inner {
}

.repair-swiper {
  height: 760px;
  margin-bottom: 115px;
  overflow: hidden;
}

.repair__inner-heading {
  text-align: center;
  font-size: var(--font-size-large);
  margin-bottom: 104px;
}

.repair__inner-blocks {
  font-weight: 700;
  font-size: var(--font-size-primary);
  line-height: var(--line-height-primary);
  margin-left: 32px;
}

.repair__inner-blocks-info {
  border-bottom: 3px solid #d9dbdd;
  border-radius: 32px 32px 32px 0px;
}

.repair__inner-blocks-info p {
  padding: 40px 0;
}

/* Diagnosis block */

.diagnosis {
  color: #fff;
  margin-bottom: 168px;
}

.diagnosis__inner {
  background-image: url(images/processor.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px;
}

.diagnosis__heading {
  font-weight: 700;
  font-size: var(--font-size-medium);
  line-height: var(--line-height-primary);
}

.diagnosis__inner-list {
  display: flex;
}

.diagnosis__list-item {
  padding: 20px 64px;
  margin-right: 100px;
  font-weight: 500;
  font-size: var(--font-size-primary);
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  border: 3px solid #fff;
  border-radius: 50px;
  transition: 0.3s;
}

.diagnosis__list-item:last-child {
  margin-right: 0px;
}

.diagnosis__list-item:hover {
  background-color: #fff;
  color: var(--primary-color);
}

/* Location */

.location {
  margin-bottom: 66px;
}

.location__inner {
}

.title {
  font-weight: 600;
  font-size: var(--font-size-small);
  line-height: var(--line-height-primary);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.location__heading {
  font-weight: 700;
  font-size: var(--font-size-large);
  line-height: var(--line-height-primary);
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}

.location__inner-list {
  display: flex;
}

.location-list-item {
  font-weight: 500;
  font-size: var(--font-size-small);
  line-height: 100%;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.location-list-item :first-child {
  margin-right: 40px;
}
.location-list-item:last-child {
  margin-left: auto;
}

.requests {
  margin-bottom: 192px;
}

.requests__inner {
  display: flex;
}

.requests__inner-left {
}

.requests__inner-right {
  padding-left: 32px;
}

.requests__inner-right p {
  max-width: 298px;
}

.city {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: var(--font-size-primary);
  line-height: var(--line-height-primary);
}

.adress {
  font-weight: 700;
  font-size: var(--font-size-primary);
  line-height: var(--line-height-primary);
  padding-bottom: 24px;
  border-bottom: 1px solid #bccadc;
}

#map_canvas {
  width: 1024px;
  height: 650px;
}
