/*Base Styles*/

:root {
  --primary-color: #151e27;
  --font-size-primary: 26px;
  --font-size-small: 16px;
  --font-size-large: 65px;
  --font-size-medium: 41px;
  --line-height-primary: 120%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: "Rubik", sans-serif;
  color: var(--primary-color);
}

/*Header Content*/

.header {
  font-size: var(--font-size-small);
  line-height: var(--line-height-primary);
  text-transform: uppercase;
  margin-bottom: 64px;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

.header__inner {
  padding: 32px 0;
  border-bottom: 1px solid #d9dbdd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__inner ul li {
  display: inline-block;
}

.about li {
  padding-right: 36px;
  font-weight: 500;
}

.about li:last-child {
  padding-right: 0px;
}
.about li:first-child {
  display: none;
}
.contacts li {
  font-weight: 600;
  padding: 16px;
}
.contacts li:last-child {
  padding: 0px;
}

.icons li {
  padding-left: 26px;
}

.icons li:first-child {
  display: none;
}

/*Main Content*/

.main {
  line-height: var(--line-height-primary);
  font-weight: 700;
  font-size: var(--font-size-medium);
  margin-bottom: 164px;
}

.main__inner {
}

.main__inner-heading {
  text-align: center;
  font-weight: 700;
  font-size: var(--font-size-large);
  margin-bottom: 64px;
}

.main__inner-articles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* grid-template-areas:
    "A A A B B "
    "A A A C D "; */

  color: #fff;
  gap: 32px;
  height: 584px;
}

.main__inner-article-text {
  font-weight: 700;
  font-size: var(--font-size-medium);
  line-height: var(--line-height-primary);
}

.articles-right {
  flex-basis: 672px;
}
.articles-left {
  flex-basis: 672px;
}

.main__inner-articles-item {
  font-weight: 700;
  font-size: var(--font-size-primary);
  line-height: var(--line-height-primary);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.articles-left-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.first {
  /* grid-area: A; */
  height: 584px;
  background: url(images/article-samsung.svg) no-repeat;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.first span {
  max-width: 544px;
  margin-top: 128px;
  padding: 128px 64px 64px 0px;
}
.second {
  /* grid-area: B; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(images/huawei.svg) no-repeat;
  border-radius: 32px;
  height: 276px;
  margin-bottom: 32px;
}

.second span {
  max-width: 544px;
  text-align: left;
  margin-top: 64px;
}
.third {
  /* grid-area: C; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(images/laptop.svg) no-repeat;
  border-radius: 32px;
  /* background-size: cover; */
  height: 276px;
  flex-basis: 320px;
}

.third span {
  max-width: 192px;
  font-size: var(--font-size-primary);
  margin-top: 64px;
}

.fourth {
  /* grid-area: D; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(images/watch.svg) no-repeat;
  border-radius: 32px;
  /* background-size: cover; */
  height: 276px;
  flex-basis: 320px;
}

.fourth span {
  max-width: 192px;
  font-size: var(--font-size-primary);
  margin-top: 64px;
}

.fourth .third p {
  max-width: 192px;
}

/*Cards */

.cards {
}

.cards__inner {
  margin-bottom: 108px;
}

.cards__inner-heading {
  text-align: center;
  font-size: var(--font-size-large);
  margin-bottom: 104px;
}

.swiper {
  height: 760px;
  margin-bottom: 108px;
  overflow: hidden;
}

.cards__inner-blocks {
  /* display: flex;
  justify-content: space-between; */
  font-weight: 700;
  font-size: var(--font-size-primary);
  line-height: var(--line-height-primary);
  margin-left: 32px;
}
.cards__inner-blocks img {
  width: 100%;
}
.cards__inner-blocks:last-child {
  margin-left: none;
}

.cards__inner-blocks-info {
  border-bottom: 3px solid #d9dbdd;
  border-radius: 32px 32px 32px 0px;
}

.cards__inner-blocks p {
  padding: 40px 0;
  max-width: 320px;
}
/* .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "";
} */

.slider-count {
  text-align: center;
  font-family: "Rubik";

  font-weight: 500;
  font-size: var(--font-size-small);
  line-height: var(--line-height-primary);
  letter-spacing: -0.03em;
}

.slider-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 85px;
  margin-bottom: 168px;
}

.slider-navigation svg {
  cursor: pointer;
}

/* Advertisemnt block */

.advertisement {
  color: #fff;
  margin-bottom: 168px;
}

.advertisement__inner {
  background-image: url(images/samsung-center.jfif);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 32px;
}

.advertisement__inner p {
  font-weight: 700;
  font-size: var(--font-size-large);
  line-height: var(--line-height-primary);
  text-align: center;
  letter-spacing: -0.03em;
  padding: 64px;
}

/* Repair block */

.repair {
  margin-bottom: 168px;
}

.repair__inner {
}

.repair-swiper {
  height: 760px;
  margin-bottom: 115px;
  overflow: hidden;
}

.repair__inner-heading {
  text-align: center;
  font-size: var(--font-size-large);
  margin-bottom: 104px;
}

.repair__inner-blocks {
  font-weight: 700;
  font-size: var(--font-size-primary);
  line-height: var(--line-height-primary);
  margin-left: 32px;
  object-fit: contain;
}

.repair__inner-blocks-info {
  border-bottom: 3px solid #d9dbdd;
  border-radius: 32px 32px 32px 0px;
}

.repair__inner-blocks-info p {
  padding: 40px 0;
}

/* Diagnosis block */

.diagnosis {
  color: #fff;
  margin-bottom: 168px;
}

.diagnosis__inner {
  background-image: url(images/processor.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px;
}

.diagnosis__heading {
  font-weight: 700;
  font-size: var(--font-size-medium);
  line-height: var(--line-height-primary);
}

.diagnosis__inner-list {
  display: flex;
}

.diagnosis__list-item {
  padding: 20px 64px;
  margin-right: 100px;
  font-weight: 500;
  font-size: var(--font-size-primary);
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  border: 3px solid #fff;
  border-radius: 50px;
  transition: 0.3s;
}

.diagnosis__list-item:last-child {
  margin-right: 0px;
}

.diagnosis__list-item:hover {
  background-color: #fff;
  color: var(--primary-color);
}

/* Location */

.location {
  margin-bottom: 66px;
}

.location__inner {
}

.title {
  font-weight: 600;
  font-size: var(--font-size-small);
  line-height: var(--line-height-primary);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.location__heading {
  font-weight: 700;
  font-size: var(--font-size-large);
  line-height: var(--line-height-primary);
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}

.location__inner-list {
  display: flex;
}

.location-list-item {
  font-weight: 500;
  font-size: var(--font-size-small);
  line-height: 100%;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.location-list-item :first-child {
  margin-right: 40px;
}
.location-list-item:last-child {
  margin-left: auto;
}

.requests {
  margin-bottom: 192px;
  font-weight: 400;
  font-size: var(--font-size-small);
  line-height: 140%;
  margin-bottom: 100px;
}

.requests__inner {
  display: flex;
}

.requests__inner-left {
}

.requests__inner-right {
  padding-left: 32px;
}

.requests__inner-right p {
  max-width: 298px;
}

.city {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: var(--font-size-primary);
  line-height: var(--line-height-primary);
}

.adress {
  font-weight: 700;
  font-size: var(--font-size-primary);
  line-height: var(--line-height-primary);
  padding-bottom: 24px;
  border-bottom: 1px solid #bccadc;
}

.requests__list {
  padding: 20px 0px 0px 40px;
}

.requests__list-item {
  position: relative;
  margin-bottom: 10px;
}

.requests__list-item:last-child {
  margin-bottom: 0px;
}

.metro-1::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 5px;

  width: 20px;
  height: 13px;

  background-image: url("images/metro-blue.svg");
  background-size: 20px 13px;
}

.metro-2::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 5px;

  width: 20px;
  height: 13px;

  background-image: url("images/metro-green.svg");
  background-size: 20px 13px;
}

.metro-3::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 5px;

  width: 20px;
  height: 13px;

  background-image: url("images/metro-orange.svg");
  background-size: 20px 13px;
}

.phones-item {
  margin-bottom: 15px;
}

.phones-item {
  position: relative;
}

.phone-1::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 20px;

  width: 18px;
  height: 18px;

  background-image: url("images/phone.svg");
  background-size: 18px 18px;
}

.phones-item:last-child {
  margin-bottom: 15px;
}

.date-item {
  margin-bottom: 15px;
  position: relative;
}

.date-1::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 20px;

  width: 18px;
  height: 18px;

  background-image: url("images/clock.svg");
  background-size: 18px 18px;
}

.date-item:last-child {
  margin-bottom: 35px;
}

.credit-cards {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
.credit-cards-item {
  position: relative;
}

.mir::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 1px;

  width: 22px;
  height: 16px;

  background-image: url("images/credit-card.svg");
  background-size: 22px 16px;
}

.button {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  padding: 20px 64px 18px;
  background: var(--primary-color);
  border-radius: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--font-size-small);
  line-height: 100%;
  border: 3px solid var(--primary-color);
}

.button:hover {
  transition: 0.3s;
  background-color: #fff;
  color: var(--primary-color);
}

#map_canvas {
  width: 1024px;
  height: 650px;
}

/* Foooter */

.footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 92px;
}

.footer__inner {
}

.footer__inner h2 {
  max-width: 320px;
}

.footer__inner-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 116px;
}

.footer__inner-top img {
  width: 232px;
  height: 80px;
  margin-bottom: 64px;
}

.footer-adress {
  font-weight: 700;
  font-size: var(--font-size-primary);
  line-height: var(--line-height-primary);
  margin-bottom: 17px;
}

.footer-time {
  font-weight: 600;
  font-size: var(--font-size-small);
  line-height: var(--line-height-primary);
}

.footer__inner-top-block h2 {
  margin-bottom: 47px;
}

.footer__inner-top-block li {
  margin-bottom: 17px;
}

.footer__inner-middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: var(--font-size-primary);
  line-height: var(--line-height-primary);
  margin-bottom: 104px;
}

.footer__inner-middle ul {
  display: flex;
  gap: 20px;
}

.footer__inner-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__inner-bottom ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .header__inner .about {
    display: none;
  }
  .about:first-child {
    display: none;
  }
  .contacts li:first-child {
    display: none;
  }
  .icons li:first-child {
    display: inline-block;
  }

  .main__inner-heading {
    font-size: var(--font-size-medium);
  }

  .main__inner-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .cards__inner-blocks {
    font-weight: 500;
    font-size: var(--font-size-small);
    line-height: var(--line-height-primary);
  }
  .cards__inner-blocks p {
    padding: 24px 0;
    max-width: 320px;
  }

  .advertisement__inner {
    background-size: cover;
  }
  .advertisement__inner p {
    font-weight: 700;
    max-width: 472;
    font-size: var(--font-size-medium);
    line-height: var(--line-height-primary);
  }

  .repair__inner img {
    width: 100%;
  }

  .diagnosis__inner {
    flex-direction: column;
    gap: 32px;
    background-size: cover;
  }

  .diagnosis__inner li {
    padding: 32px;
  }

  .location__heading {
    font-weight: 700;
    font-size: var(--font-size-medium);
    line-height: var(--line-height-primary);
  }

  .title {
    margin-bottom: 40px;
  }

  .location__inner {
    padding-left: 20px;
  }
}
